CREATE TABLE products (
	url VARCHAR NOT NULL, 
	perfume VARCHAR, 
	gender VARCHAR, 
	rating_value DECIMAL, 
	rating_count DECIMAL, 
	year DECIMAL, 
	top VARCHAR, 
	middle VARCHAR, 
	base VARCHAR, 
	price DECIMAL, 
	country_id DECIMAL NOT NULL, 
	brand_id DECIMAL NOT NULL
);
