CREATE TABLE "user" (
	username VARCHAR NOT NULL, 
	name VARCHAR NOT NULL, 
	sex VARCHAR NOT NULL, 
	mail VARCHAR NOT NULL, 
	birthdate DATE NOT NULL, 
	country VARCHAR NOT NULL, 
	city VARCHAR NOT NULL, 
	street VARCHAR NOT NULL, 
	password VARCHAR NOT NULL
);
